<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
        <!-- add icon link -->
        <title>
            {% block htmlBaseTitle %}SellerMania{% endblock %}
        </title>

        <link href="https://fonts.googleapis.com/css2?family=Mate:ital@0;1&display=swap" rel="stylesheet">

        {% block stylesheetsBase %}
            {{ encore_entry_link_tags('app') }}
            {% block stylesheets %}{% endblock %}
        {% endblock %}

    </head>
    <body {% block bodyParameters %}{% endblock %}>
        <div class="wrapper">
            <div class="bodyBase">
                {% block bodyBase %}{% endblock %}
            </div>
        </div>

        {% block javascriptBase %}
            {{ encore_entry_script_tags('app') }}
            {% block javascript %}{% endblock %}
        {% endblock %}
    </body>
</html>
